#example {
  margin-bottom: 0;
}

#home {
  background-image: url("../../assets/img/header-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#mainHeader {
    background-image: url("../../assets/img/header-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#services {
}

